* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: grey;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 300px;
    background: #ffffff;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.card.main {
    transform: scale(1.2);
}


.card.small h5 {
    color: green;
}

.card.small.square{
    background: green;
}

.card img {
    width: 100%;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: orangered;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: grey;
    text-align: center;
    padding: 5px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.square {
    width: 100%;
    max-width: calc(100% / 3);
    height: 70px;
    text-align: center;
    background: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer.first .square{
    background: purple;
}

.footer.third .square {
    background: green;;
}

.square.border {
    border-right: 2px solid rgba(0, 0, 0, 0.14);
    border-left: 2px solid rgba(0, 0, 0, 0.14);
}